*.log
/Intermediate/*
Saved/Autosaves/PackageRestoreData.json
Saved/Autosaves/PackageRestoreData.json
Content/Blueprints/Actors/Enemy/BP_BaseRats.uasset
Saved/Backup/BP_Player_2018-04-09-21-11-05.uasset
